

/***************************
    Main

Здесь содержатся основные стили страницы. Убираю внешние отступы, задаю шрифт, размер шрифта и цвет шрифта который чаще используется. Подключил среднее сглаживание шрифтов (не везде работает) и указал цвет фона для body.

Для всех элементов, а также для селекторов before и after указал алгоритм подсчета границ.

Убрал внешние отступы у всех заголовков.

Убрал внешние отступы у параграфа и установил отступ снизу 10 пикселей.

****************************/
body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #fff;


    /* Доп. шрифты
    font-family: 'Cardo', serif;
    font-family: 'Open Sans', sans-serif;
    */

}
*, *:before, *:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0 0 10px;
}


/***************************
    Container

Если ширина устройства меньше 1170 пикселей, то контейнер займет всю доступную ширину устройства.

Убрал внешние отступы сверху и снизу и выровнял контейнер по центру окна.
****************************/
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


/***************************
    Header
****************************/
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;

    border-bottom: 1px solid #515359;
}


/***************************
    Nav
****************************/
.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav__link {
    margin-left: 50px;

    color: #fff;
    text-decoration: none;
    opacity: .75;

    transition: opacity .1s linear;
}
.nav__link:first-child {
margin-left:    0;
}
.nav__link:hover {
    opacity: 1;

    transition: opacity .1s linear;

}


/***************************
    Intro
****************************/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;

    background: #31344e url('../img/intro-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;

    text-align: center;
}
.intro__title {
    margin: 0 0 30px;

    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

}
.intro__subtitle {
    margin-bottom: 60px;

    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}


/***************************
    Button
****************************/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
.btn--red {
    background-color: #e84545;

    transition: background .1s linear;
}
.btn--red:hover {
    background-color: #af2828;

    transition: background .1s linear;
}





























