

/***************************
    Main

Здесь содержатся основные стили страницы. Убираю внешние отступы, задаю шрифт, размер шрифта и цвет шрифта который чаще используется. Подключил среднее сглаживание шрифтов (не везде работает) и указал цвет фона для body.

Для всех элементов, а также для селекторов before и after указал алгоритм подсчета границ.

Убрал внешние отступы у всех заголовков.

Убрал внешние отступы у параграфа и установил отступ снизу 10 пикселей.

****************************/
body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #fff;


    /* Доп. шрифты
    font-family: 'Cardo', serif;
    font-family: 'Open Sans', sans-serif;
    */

}
*, *:before, *:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0 0 10px;
}


/***************************
    Container

Если ширина устройства меньше 1200 пикселей, то контейнер займет всю доступную ширину устройства.

Убрал внешние отступы сверху и снизу и выровнял контейнер по центру окна.
****************************/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/***************************
    Header
****************************/
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;

    border-bottom: 1px solid #515359;
}


/***************************
    Nav
****************************/
.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav__link {
    margin-left: 50px;

    color: #fff;
    text-decoration: none;
    opacity: .75;

    transition: opacity .1s linear;
}
.nav__link:first-child {
margin-left:    0;
}
.nav__link:hover {
    opacity: 1;

    transition: opacity .1s linear;

}


/***************************
    Intro
****************************/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;

    background: #31344e url('../img/intro-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;

    text-align: center;
}
.intro__title {
    margin: 0 0 30px;

    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

}
.intro__subtitle {
    margin-bottom: 60px;

    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}


/***************************
    Button
****************************/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    text-align: center;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
.btn--red {
    background-color: #e84545;

    transition: background .1s linear;
}
.btn--red:hover {
    background-color: #af2828;

    transition: background .1s linear;
}
.btn--long {
    min-width: 280px;
}


/***************************
    Features
****************************/
.features {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
}
.features__item {
    width: 33.33333%;
    padding: 0 40px;
    margin: 25px 0;
    text-align: center;
}
.features__icon {
    margin-bottom: 20px;
}
.features__title {
    margin-bottom: 15px;

    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}
.features__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}


/***************************
    Works
****************************/
.works {
    display: flex;
    flex-wrap: wrap;
}
.works__item {
    width: 25%;
    height: 350px;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    position: relative;
    overflow: hidden;
}
.works__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);

}
.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    opacity: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, .9);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transition: opacity .1s linear;
}
.works__content:hover {
    opacity: 1;

    transition: opacity .1s linear;
}
.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.works__text {
    font-size: 14px;
    color: #fff;
}


/***************************
    Team
****************************/
.team {
    margin: 100px 0 70px;
}
.team__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 0 -15px;

}
.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.team__photo {
    margin-bottom: 20px;

    display: block;
    max-width: 100%;
    height: auto;
}
.team__name {
    margin-bottom: 8px;

    font-size: 22px;
    color: #2d3033;

}
.team__prof {
    margin-bottom: 15px;

    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}
.team__text {
    margin-bottom: 15px;

    font-size: 13px;
    color: #6c7279;
    line-height: 1.5;
}


/***************************
    Social
****************************/
.social {
    display: flex;
}
.social--footer {
    justify-content: center;
}
.social__item {
    margin: 0 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    background-color: #fff;
    border: 1px solid #e8ecee;

    transition: background-color .1s linear;
}
.social__item:hover {
    background-color: #e8ecee;
}
.social__item:hover .social__icon {
    fill: #000;
}
.social--footer .social__item {
   background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}
.social--footer .social__item:hover {
    background-color: #fff;
}
.social__icon {
    display: block;
    height: 18px;
    fill: #c6cacc;

    transition: fill .1s linear;
}

.social--footer .social__icon {
    fill: #fff;
}


/***************************
    Reviews
****************************/
.reviews {
    overflow: hidden;
    background-color: #53354a;
}
.reviews__item {
    display: flex;
    flex-wrap: wrap;
}
.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}
.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}
.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    padding-left: 80px;
}
.reviews__text {
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;

    margin-bottom: 20px;
}
.reviews__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}


/***************************
    Download
****************************/
.download {
    margin: 90px 0;

    text-align: center;
}
.download__title {
    font-size: 28px;
    font-weight: 300;
    color: #2d3033;

    margin-bottom: 15px;
}
.download__text {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d3033;

    margin-bottom: 30px;
}


/***************************
    Footer
****************************/
.footer {
    background-color: #3a3e64;
}
.footer__inner {
    display: flex;
    flex-wrap: wrap;

     padding: 70px 0;
}
.footer__block {
    width: 33.33333%;

    padding: 0 15px;
    text-align: center;

}
.footer__title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;

    margin-bottom: 15px;
}
.footer__addres {
    font-size: 14px;
    font-style: normal;
    color: rgba(255, 255, 255, .5);
    line-height: 1.5;
}
.footer__text {
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    line-height: 1.5;
}


/***************************
    Copyright
****************************/
.copyright {
    padding: 20px 0;

    background-color: #313454;
}
.copyright__text {
    text-align: center;

    font-size: 14px;

    color: #808080;

    line-height: 1.5;
}
.copyright__heart {
    color: #ff3333;
}
.copyright__by {
    color: #fff;
}



/***************************
    Media
****************************/









